<html>
<head>
	<title>Rubric</title>
	<link href='[% url_for('css') %]' rel='stylesheet' type='text/css' />
</head>
<body>
	<h1>
		rubric[% "/~" _ user IF user %][% "/" _ tags.join("+") IF tags.size %]
	</h1>
	[% PROCESS "toolbar.html" %]

	[% IF user %]
	<div class='taglist'>
	<h3>all tags</h3>
	[% FOREACH tag = user.tags_counted %]
	<div class='tag'>
		<span class='tag_count'>[% tag.1 %]</span>
		&nbsp;[% url_for('entries', user, [ tag.0 ], tag.0) %]&nbsp;
	</div>
	[% END %]
	</div>
	[% END %]

	[% IF user && tags.size %]
	<div class='taglist'>
	<h3>related tags</h3>
	[% FOREACH tag = user.related_tags_counted(tags) %]
	<div class='tag'>
	<span class='tag_count'>[% tag.1 %]</span>
	&nbsp;
	[%- url_for('entries', user, tags.merge( [ tag.0 ] ), "+", "plus") %]
	[% url_for('entries', user, [ tag.0 ], tag.0) -%]
	&nbsp;</div>
	[% END %]
	</div>
	[% END %]

	[% IF recent_tags.size %]
	<div class='taglist'>
	<h3>recent tags</h3>
	[% FOREACH tag = recent_tags %]
	<div class='tag'>
		<span class='tag_count'>[% tag.1 %]</span>
		&nbsp;[% url_for('entries', user, [ tag.0 ], tag.0) %]&nbsp;
	</div>
	[% END %]
	</div>
	[% END %]

	<h2>entries</h2>
	<div class='entries'>
	[% WHILE (entry = entries.next) %]
	[% PROCESS "entry.html" %]
	[% END %]
	</div>

	<div class='prev_page'>
		[% IF page > 1 %]<a href='?page=[% page - 1 %]'>prev page</a>
		[% ELSE %]prev page[% END %]
	</div>
	<div class='next_page'>
		[% IF page < pages %]<a href='?page=[% page + 1 %]'>next page</a>
		[% ELSE %]next page[% END %]
	</div>
	<div class='page_num'>
		page [% page %] of [% pages %]
	</div>
	<div class='page_size'>
		[% count %] entries, [% per_page %] per page
	</div>

	</body>
</html>
